{{#modal-dialog
  translucentOverlay=true
  overlayPosition="sibling"
  animatable=true
  clickOutsideToClose=true
  onClose=(action "onCancel")
}}
  {{#if errorMessage}}
    <p data-test-error-message>Error occured: {{errorMessage}}</p>
  {{/if}}
  {{login-form onSubmit=(action "onSubmit") onCancel=(action "onCancel")}}
{{/modal-dialog}}